.vscode
.arts
.devbrain
*.cjo
*.so
*.bc
build/
bin/
module-resolve.json
unittest/
ci_test/
ci_lib/
temp_ci_lib/
test_temp/
log/
.cjpm-history
module-lock.json
report/
tmp/
*.gcda
*.gcno
output/
*.macrocall
target/
./target
./target/
./target/*
target/*
.cache
.cache/
.cache/*
./.cache
./.cache/
./.cache/*
.vscode
.vscode/
.vscode/*
./.vscode
./.vscode/
./.vscode/*
.vnext
.vnext/
.vnext/*
./.vnext
./.vnext/
./.vnext/*
.cjpm-history
*.iml
./*/*.iml
.idea
.idea/
.idea/*
./.idea
./.idea/
./.idea/*
cjpm.lock